{% load staticfiles %}
{% include "share/head.html" %}
<br/><br/>
<html>
<body>
<form action="{% url 'adminlogin' %}" method="post"> {% csrf_token %}
    <table align="center" border="2">
        <tr> <th> Admin Login </th></tr>
        <tr> <td> UserName : <input type="text" required name="uname"> </td></tr>
        <tr> <td> Password : <input type="password" required name="pwd"> </td></tr>
        <tr> <td align="center"> <button type="submit"> Login</button> </td></tr>
            </table>
    <table align="center" border="0">

    <tr> <td align="center" style="color: green"> <marquee> Shop anywhere any time </marquee></td></tr>

</table>
    </table>
     {% if message %}
        <span> <h3 align="center" style="color: green"> {{ message }}</h3></span>
    {% endif %}
</form>
</body>
</html>