{% load staticfiles %}
{% include 'head.html' %}

<form action="{% url 'change_password' %}" method="post"> {% csrf_token %}
    <table align="center" border="2">
        <tr > <th colspan="2"><h4 style="color: darkred" colspan="2" align="center"> Change Password </h4> </th></tr>
        <tr> <td> Email id:  </td><td> <input type="email" required name="email"></td></tr>
        <tr> <td> Old Password: </td> <td><input type="password" name="old_password" required></td></tr>
        <tr> <td> New Password: </td> <td><input type="password" name="new_password1" required></td></tr>
        <tr> <td> Confirm New Password:  </td> <td><input type="password" name="new_password2" required></td></tr>
        <tr> <td align="center" colspan="2">  <button type="submit"> Update Password</button> </td></tr>
    </table>
    </form>
      <table align="center">
        <tr> <td align="center" colspan="2">
            <form action="{% url 'back_mlogin' %}"><button type="submit"> Back </button>
        </form></td></tr>

       </table>
<table>
   {% if data %}
       <span> <h4 align="center" style="color: green"> {{ data.message }}</h4></span>
    {% endif %}
</table>